# http://standards.freedesktop.org/desktop-entry-spec/desktop-entry-spec-1.0.html

[Desktop Entry]
Encoding=UTF-8
Name=YEP Core Daemon SNAP
Comment=testnet
GenericName=YEP Digital Currency Daemon Client testnet network
Exec=yep-core.daemon-testnet %u
Terminal=true
Type=Application
Icon=${SNAP}/share/pixmaps/yep_testnet.png
MimeType=x-scheme-handler/yep;
Categories=X-Office;X-Finance;
Keywords=internet;yep;zyep;core;wallet;daemon;testnet;snap;launchpad;crypto;digital;currency;coin;token;zerocoin;
Version=1.0
